.article-card-link {
    color: var(--primaryTextColor);
    text-decoration: none;
    padding: 10px;
}

.article-card-link:hover .article-card-title {
    text-decoration: underline;
}

.article-card {
    background: var(--secondaryBackgroundColor);
    border-width: 1px;
    border-color: var(--borderColor);
    display: flex;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.article-card-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.article-card-thumbnail {
    object-fit: cover;
    width: 30%;
    margin-right: 10px;
    border-radius: 5px;
}

.article-card-textarea {
    width: 100%;
    padding-bottom: 20px;
}

.article-card-timestamp {
    font-size: 10pt;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .article-card-thumbnail {
        width: 100%;
    }
    .article-card {
        flex-direction: column;
    }
}