#left {
    justify-content: flex-end;
}

#back-button {
    color: var(--primaryTextColor);
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    padding-bottom: 10px;
    transition: all 0.3s;
    height: 25px;
    top: 50px;
    position: sticky;
    margin-top: 54px;
}

.arrow {
    border: solid var(--primaryTextColor);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.article-title {
    margin-top: 0;
    font-size: 30pt;
    text-align: center;
}

.article-timestamp {
    margin-top: 20px;
    color: var(--lightTextColor);
}

.article-text-area {
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .article-text-area {
      width: 100%;
    }
}