.App {
  text-align: center;
}

.App-header {
  height: 50px;
  background-color: #282c34;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
}

.App-header-content {
  width: 80%;
  max-width: 1000px;
  height: 100%;
  display: flex;
}

.App-header-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 15px;
  padding-bottom: 10px;
  transition: all 0.3s;
}

.App-header-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.App-header-link:hover::after {
  padding-left: 80%;
  /* transition: all 0.1s; */
}

.App-header-link::after {
  content: "";
  background: white;
  padding-top: 2px;
  opacity: 0.4;
  border-radius: 8px;
  transition: all 0.1s;
}