.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
  top: 0;
  position: sticky;
}

.App-header-content {
  width: 80%;
  max-width: 1000px;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
}

.App-header-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: rgba(255, 2, 2, 0.363);
  padding: 5px;
  padding-bottom: 0px;
}

.App-header-link:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.363);
  padding: 5px;
}
