.App-header {
  height: 50px;
  background-color: var(--headerColor);
  box-shadow: 0px 4px 5px var(--shadowColor);
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
}

.App-header-content {
  width: 80%;
  max-width: 1000px;
  height: 100%;
  display: flex;
}

.App-header-left {
  flex: 1;
  display: flex;
}

.App-header-right {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}